#login-form{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
}
#login-form h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.login-con{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 0.2rem;
    padding: 1rem 2rem;
    background-color: #f5f7eb;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}
.login-con .button{
    display: flex;
    flex-direction:row;
    width: 90%;
    justify-content: flex-end;
    gap: 2rem;
}
label{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
input::placeholder{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
