.cart-body{
    height: calc(100vh - 4rem);
    /* width: 100vw; */
    overflow-y: hidden;
    /* max-width: 75rem; */
    /* overflow: auto; */
}
.cart-container{
    box-sizing: content-box;
    /* overflow: hidden; */
    margin: 2rem auto;
    width: 70vw;
    /* height: 75vh; */
    height: fit-content;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    padding: 1rem 1rem;
    background-color: #f5f7eb;
}
.cart-container h4{
    font-weight: bolder;
    /* font-size: 36px; */
    text-align: center;
}

.cart-container .titles{
    margin : 0.5rem;
    font-size: small;
}
.cart-container .titles h3{
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
}
.cartItems{
    height: 40vh;
    overflow-y: scroll;
    overflow-x: none;
}
.cartItem,.cart-container .titles{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}
.cartItem{
    border-top: 1px solid rgb(187, 187, 187);
    padding:0.5rem 0;
    overflow: hidden;
}


.cart-container .titles .total{
    padding-right: 0.5rem;
    justify-self: right;
}
.cartItem .cart-product{
    display: flex;
}
.cartItem div,.cartItem .cart-product .link{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: small;
}
.cartItem .cart-product button{
    font-size: x-small !important;
    padding: 5px !important;
}
.cartItem .cart-product img{
    max-width: 100%;
    margin-right: 1rem;
    width: 70px;
    height: 70px;
}
.cart-container .cart-product-quantity button{
    font-size: x-small;
}
.cart-container .cartItems .cartItem .cart-product button{
    font-size: small;
}
.product-totalprice{
    justify-self: right;
    padding-right: 0.5rem;
    font-weight: 500;
}

/* cart summary */

.cartSummary{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    border-top: 1px solid rgb(187, 187, 187);
    padding-top: 0.5rem;
}
.cart-checkout button{
    font-size: small !important;
    padding: 5px !important;
}

.cartItem .cart-product button{
    display: flex !important;
    justify-content: center !important;
}
.cart-checkout .totalammount{
    display:flex;
    justify-content: space-between;
    font-size: small;
    font-weight: bold;
}

.cart-empty a,.cart-empty a{
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: small;
}

.cart-empty {
    font-size: 20px;
    height: 100%;
    color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start-shopping{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.continue-shopping a,.start-shopping a{
    color: rgb(84, 84, 84);
    font-size: small;
    text-decoration: none;
}

@media screen and (max-width:800px){
    .cart-container{
        width: 90vw;
    }
    .cartItem .cart-product img{
        width: 70px;
        height: 70px;
    }
    .cartItem .cart-product button{
        font-size: x-small !important;
        padding: 2px !important;
    }
}
@media screen and (max-width:500px) {
    .cart-container{
        width: 85vw;
    }
    .cart-container h2{
        font-size: medium;
    }
    .cartItems{
        height:50vh;
    }
    .cart-empty{
        width: 100%;
    }
    .cart-empty p{
        font-size: small;
    }
    .start-shopping{
        font-size: small;
        width: 100%;
    }
    .cart-product-price,.cart-product-quantity,.product-totalprice{
        font-size:  x-small;
    }
    .cart-container .titles h3{
        font-size: x-small;
    }
    .cartItem .cart-product img{
        width: 50px;
        height: 50px;
    }
    .cartItem .cart-product button{
        display: flex;
        justify-content: center !important;
        font-size: xx-small !important;
        padding: 5px !important;
        margin-top: 5px !important;
    }
    .cartItem .product-size  button{
        font-size: 5px !important;
        padding: 3px !important;
    }
    .cart-checkout .totalammount span{
        font-size: small;
    }
    .continue-shopping a,.start-shopping a,.cartItem div,.cartItem span,.cartItem .cart-product .link{
        font-size: x-small;
    }
    .product-size .btn{
        font-size: x-small !important;
    }
} 
