#cart-container{
    margin:1rem 5rem;
    padding: 2rem 4rem;
    background-color: #f5f7eb;
}
#cart-container h2{
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

#cart-container .titles{
    margin : 2rem 0 1rem;
}