#product-container{
    /* height: calc(100vh - 4rem); */
    width: 80vw;
    display: flex;
    box-sizing: content-box;
    background-color: #FFF5FF;
    margin: 2rem auto;
    /* height: calc(100vh - 4rem); */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 10px;
}

.productDisplay-left{
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.img-list{
    width: 80px;
    height: 80px;
}
.productdisplay-main-img{
    margin: 2rem auto;
    width: 150px;
    height: 150px;
}
.productDisplay-img-list{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.productDisplay-right{
    margin: 2rem 0.5rem;
}
.productDisplay-right h3{
    color: #3d3d3d;
    font-size: large;
    font-weight: 700;
}
.product-stars{
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        /* gap: 1rem; */
}
.product-prices{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    /* margin-top: 0.5rem; */
    gap:0.5rem;
    font-size: medium;
    height: 50px;
    color: #3d3d3d;
}
.product-oldprices{
    color: #b4b4b4;
    margin: 0!important;
}
.product-decribe{
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    /* margin-top: 1rem; */
    /* margin-right: 3rem; */
    color: #3d3d3d;
    font-size: medium;
    text-align: justify;
}
.product-decribe, .product-prices, .product-stars{
    margin: 0.25rem .5rem;
}
.product-size{
    display: flex;
    flex-direction: row;
    margin:  0.75rem 0;
}
.product-size div{
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    border: 2px solid #3d3d3d;
}
.product-size div:hover{
    transition: 0.4s linear;
    opacity: 0.4;
    color: #FFF5FF;
    background-color: #3d3d3d;
}
.product-decribe, .product-prices, .product-stars,.productDisplay-right h3{
    margin: 1rem .5rem;
}
button{
    cursor: pointer;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    background-color: #F33C55;
    color: white;
    font-size: 1.25rem;
}
button:hover{
    background-color: #B82C3F;
    transition: 0.3s ease-in;
}
@media screen and (max-width:800px) {
    #product-container{
        flex-direction: column;
    }
    .productDisplay-left{
        margin: 0;
        gap: 0;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .productdisplay-main-img{
        width: 100px;
        height: 100px;
    }
    .productDisplay-img-list{
        flex-direction: row;
    }
    .productDisplay-img-list img{
       width: 50px;
       height: 50px;
    }
    .productDisplay-right {
        margin: 1rem 1rem;
    }
    .productDisplay-right h3 {
        text-align: center;
        color: #3d3d3d;
        font-size: large;
        font-weight: 700;
    }
    .product-decribe, .product-prices, .product-stars, .productDisplay-right h3{
        margin: 0.25rem .5rem;
    }
    button{
        padding: 0.25rem .5rem;
        margin: 0.25rem .5rem !important;
        outline: none;
        border: none;
        background-color: #F33C55;
        color: white;
    }
    button:hover{
        background-color: #B82C3F;
        transition: 0.3s ease-in;
    }
}