#homepage{
    height: calc(100vh - 4rem);
    /* width: 100vw; */
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;
}

.homepageimg{
    position: absolute;
    top: 5rem;
    right: 6rem;
}

.content-text{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 3rem;
    width: 30rem;
    text-align: left;
    /* align-content: center;    */
    justify-content: center;
    z-index: 2;
}
.content-text .large-txt{
    font-weight: 600;
    font-size: 4rem;
}
.header{
    margin: 2rem;
    font-size: 4rem;
}
@media  screen and (max-width:550px) {
    #homepage{
    height: calc(95vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    background-color: #f5f7eb;
    background-image: none;
    }
    .homepageimg{
        top: 2rem;
        right: 0rem;
        height: 30rem;
    }
    .content-text .large-txt{
        font-size: 0.7rem;
    }
    .content-text{
        color: #f5f7eb;
        background-color: #ff6f91;
        font-size: 0.3rem;
        padding: 0.5rem 1rem;
        width: 9rem;
        border-radius: 0.4rem;
        position: absolute;
        bottom: 0rem;
    }
}