#homepage{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #ff6f91, #fc97c4, #f4bee7, #f5f7eb, #f5f7eb);
    display: flex;
    flex-direction: row;
}
.homepageimg{
    position: absolute;
    top: 5rem;
    right: 6rem;
}

.content-text{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 3rem;
    width: 30rem;
    text-align: left;
    /* align-content: center;    */
    justify-content: center;
    z-index: 3;
}
.content-text .large-txt{
    font-weight: 600;
    font-size: 4rem;
}
@media  screen and (max-width:550px) {
    #homepage{
    height: calc(95vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0  auto;
    overflow: hidden;
    background-color: #f5f7eb;
    background-image: none;
    }
    .homepageimg{
        right: -10rem;
        width: 40rem;
    }
    .content-text .large-txt{
        font-size: 2rem;
    }
    .content-text{
        color: #f5f7eb;
        background-color: #ff6f91;
        height: 20rem;
        width: 20rem;
        border-radius: 4rem;
        position: absolute;
        bottom: -8rem;
    }
}