.nav-bar{
    height: 4rem;
    width: 100vw;
    max-width: 85rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    z-index: 3;
}
.heading{
    margin-left: 3rem;
}
.navlistItem{
    margin: 1rem;
}
@media screen and (max-width:550px){
    .nav-bar{
        background-color: #ff6f91;
        margin: 0 auto;
    }
}