.nav-bar{
    position: sticky;
    height: 4rem;
    width: 100vw;
    max-width: 85rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    background-color: #f5f7eb;
    z-index: 3;
}
.heading{
    margin-left: 3rem;
}
.navlistItem{
    margin: 1rem;
}
