#Signup-form{
    height: calc(100vh - 4rem);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 75rem; */
}
.Signup-con{
    box-sizing: border-box;
    /* height: 430px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 0.2rem;
    padding: 1rem 1rem;
    background-color: #f5f7eb;
    /* margin: 1rem auto; */
    width: 50vw;
}
.Signup-con label{
    font-size: 0.8rem!important;
}
/* .Signup-form input[type="text"],input[type="email"],input[type="password"]{
    padding: 0.2rem!important;
    height: 1.5rem !important;
} */
.Signup-con h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.Signup-con .button{
    display: flex;
    flex-direction:row;
    width: 90%;
    justify-content: flex-end;
    gap: 2rem;
}
.Signup-con .errorMessage{
    color: red;
    font-size: 0.7rem;
    font-weight: 700;
}
@media screen and (max-width:450px) {
    .Signup-con{
        width: 80vw;
    }
    input::placeholder{
        font-size: x-small;
    }
}