#Signup-con{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
}
.Signup-form{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 0.2rem;
    padding: 1rem 1.5rem;
    background-color: #f5f7eb;
    margin: 1rem auto;
    width: 40rem;
}
.Signup-con h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.Signup-form .button{
    display: flex;
    flex-direction:row;
    width: 90%;
    justify-content: flex-end;
    gap: 2rem;
}
.Signup-form .errorMessage{
    margin: 0 !important;
    padding: 0 !important;
    color: red;
    font-size: 0.7rem;
    font-weight: 700;
}